
.auth-container
{
    width: 400px;
    margin: 80px auto;
}

.auth-card 
{
    background: #cfd8dc;
    border-radius: 20px;
    padding: 60px 30px 40px;
    text-align: center;
    position: relative;
}

.user-icon 
{
    width: 80px;
    height: 80px;
    background: #b0bec5;
    border-radius: 50%;
    position: absolute;
    top: -40px;
    left: 0;
    right: 0;
    margin: auto;
    line-height: 80px;
    font-size: 35px;
    color: white;
}

.form-control 
{
    border-radius: 5px;
    margin-bottom: 15px;
    height: 40px;
}

.auth-btn 
{
    background: #5bc0de;
    border: none;
    border-radius: 20px;
    padding: 8px 30px;
    color: #fff;
    width: 100%;
}

.auth-btn:hover 
{
    background: #31b0d5;
    color: #fff;
}